/* .col {
    background-color: rgb(243, 227, 243);
    border-color: purple;
    border: 1px solid white;
}
.row {
    border-color: white;
}
div.custom {
    background-color: rgb(248, 241, 248);
    border-color: purple;
}
 */
 .game-board {
    display: grid;
    justify-content: center;
    grid-template-rows: 125px 125px 125px;
    grid-template-columns: 125px 125px 125px;
}

body {
  display: flex;
  justify-content: center;
}
.box {
  background: #0a0a0a;
  border: 1px solid #777474;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f1ef61;
}
p.win {
    color: green;
}
p.draw {
    color:brown
}
