<br>
<h2>Tic Tac Toe Game</h2>
<div>
    <p>
        <button class="btn btn-primary" (click)="newBoard()">New Game</button>
    </p>
</div>
<!-- <div class="container text-center"> -->
<div class="game-board">
    @for(row of board; track row; let rownum = $index) {
    <!-- <div > -->
    @for(column of row; track column; let colnum = $index) {
    <div class="box" (click)="captureUserMove(rownum,colnum)">{{board[rownum][colnum]}}
        <!-- <input type="text" (click)="captureUserMove(rownum,colnum)" [value]="board[rownum][colnum]"> -->
    </div>
    }
    <!-- </div> -->
    }
</div>
@if(winner) {
<p class="win">Congratulations Player {{currentUser}} wins!Press New Game Button to start a new game.</p>
}
@if(draw) {
<p class="draw">Game has ended in a draw! Press New Game Button to start a new game.</p>
}